<html>
    <head>
        <title>Galen Reports</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="report.css"></link>
        <script src="jquery-1.11.2.min.js"></script>
        <script src="handlebars-v2.0.0.js"></script>
        <script src="galen-report.js"></script>
        <script>
var reportData = {
  "testId" : "1-test-login.gspec",
  "name" : "test_login.gspec",
  "report" : {
    "nodes" : [ {
      "name" : "Simple check",
      "status" : "info",
      "nodes" : [ {
        "name" : "check  test_login.gspec --url http://localhost/login.html --size 1024x768 --htmlreport izvjestajilogin",
        "status" : "info",
        "nodes" : [ {
          "name" : "Check layout: test_login.gspec included tags: ",
          "status" : "info",
          "time" : 1541522741426,
          "sections" : [ {
            "name" : "Forma",
            "place" : {
              "filePath" : "test_login.gspec",
              "lineNumber" : 8
            },
            "objects" : [ {
              "name" : "forma",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "test_login.gspec",
                  "lineNumber" : 11
                },
                "name" : "inside login",
                "highlight" : [ "forma", "login" ]
              } ]
            }, {
              "name" : "inp_username",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "test_login.gspec",
                  "lineNumber" : 13
                },
                "name" : "inside forma",
                "highlight" : [ "inp_username", "forma" ]
              } ]
            }, {
              "name" : "inp_password",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "test_login.gspec",
                  "lineNumber" : 15
                },
                "name" : "inside forma",
                "highlight" : [ "inp_password", "forma" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "test_login.gspec",
                  "lineNumber" : 16
                },
                "name" : "aligned vertically all inp_username",
                "highlight" : [ "inp_password", "inp_username" ]
              } ]
            }, {
              "name" : "inp_login",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "test_login.gspec",
                  "lineNumber" : 18
                },
                "name" : "inside forma",
                "highlight" : [ "inp_login", "forma" ]
              } ]
            } ]
          } ],
          "objects" : {
            "inp_login" : {
              "area" : [ 536, 345, 71, 30 ]
            },
            "inp_username" : {
              "area" : [ 486, 235, 103, 24 ]
            },
            "forma" : {
              "area" : [ 330, 232, 347, 146 ]
            },
            "login" : {
              "area" : [ 328, 150, 352, 304 ]
            },
            "inp_password" : {
              "area" : [ 486, 281, 103, 24 ]
            }
          },
          "screenshot" : "layout-1-screenshot.png",
          "type" : "layout"
        } ],
        "time" : 1541522740475,
        "type" : "node"
      } ],
      "time" : 1541522735780,
      "type" : "node"
    } ]
  }
};
        </script>
        <script>

            $(function () {
                var galenReport = createGalenReport();
                galenReport.render("main", reportData);
            });
        </script>
    </head>
    <body>
        <script id="report-tpl" type="text/x-handlebars-template">
            <ul class="report-nodes">
            {{#each report.nodes}}
                {{renderNode this}}
            {{/each}}
            </ul>
        </script>
        <script id="report-node-tpl" type="text/x-handlebars-template">
            <li>
                <span class="report-time">{{formatReportTime time}}</span>
                <a class="expand-link node-expand-button node-status-{{status}} contains-children-{{hasChildElements nodes}} collapsed" href="#">{{status}}</a>
                <div class="node-name node-status-{{status}}">{{name}}</div>
                {{#if extras}}
                    {{renderNodeExtras extras}}
                {{/if}}
                {{#if stacktrace}}
                    <div class="stacktrace">{{stacktrace}}</div>
                {{/if}}
                {{#if attachments}}
                    <ul class="report-node-attachments">
                        {{#each attachments}}
                            <li>
                                <a class="icon-sprite-before node-attachment" href="{{this}}">{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
                <div class="node-details expand-container">
                    {{#if nodes}}
                        <ul class="report-nodes">
                            {{#each nodes}}
                                {{renderNode this}}
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </li>
        </script>
        <script id="report-node-text-tpl" type="text/x-handlebars-template">
            <li>
                <div class="node-simple-text">
                    {{name}}
                </div>
            </li>
        </script>
        <script id="report-layout-tpl" type="text/x-handlebars-template">
            <li>
                <span class="report-time">{{formatReportTime time}}</span>
                <a class="expand-link node-expand-button node-status-label node-status-info contains-children-true collapsed" href="#">LAYOUT</a>
                <div class="node-name">{{name}}</div>
                <div class="node-horizontal-menu" data-layout-id="{{layoutId}}"><a class="layout-heatmap-link" href="#">Heat Map</a></div>
                <div class="node-details expand-container">
                    {{renderSublayout this}}
                </div>
            </li>
        </script>
        <script id="report-layout-sublayout-tpl" type="text/x-handlebars-template">
            <div class="layout-report" data-layout-id="{{layoutId}}" {{#if screenshot}}data-screenshot="{{screenshot}}"{{/if}}>
                <ul class="layout-sections">
                    {{#each sections}}
                        {{renderLayoutSection this}}
                    {{/each}}
                </ul>
            </div>
        </script>
        <script id="report-layout-section-tpl" type="text/x-handlebars-template">
            <li>
                <a class="layout-section icon-sprite-before expand-link contains-children-true" href="#" title="{{place.filePath}}#{{place.lineNumber}}">{{name}}</a>
                <div class="layout-details expand-container">
                    {{#if sections}}
                        <ul class="layout-sections">
                        {{#each sections}}
                            {{renderLayoutSection this}}
                        {{/each}}
                        </ul>
                    {{/if}}
                    {{#if objects}}
                        <ul class="layout-objects">
                            {{#each objects}}
                                {{renderLayoutObject this}}
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </li>
        </script>

        <script id="report-layout-object-tpl" type="text/x-handlebars-template">
            <li>
                <a class="layout-object icon-sprite-before expand-link contains-children-true" href="#">{{name}}</a>
                <ul class="layout-checks expand-container">
                    {{#each specs}}
                        {{renderLayoutCheck this}}
                    {{/each}}
                    {{#each specGroups}}
                    <li>
                        <a class="layout-specgroup icon-sprite-before expand-link contains-children-true" href="#">{{name}}</a>
                        <ul class="layout-checks expand-container">
                            {{#each specs}}
                                {{renderLayoutCheck this}}
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </li>
        </script>
        <script id="report-layout-check-tpl" type="text/x-handlebars-template">
            <li>
            <a class="layout-check icon-sprite-before layout-check-status-{{status}}" href="#"
                data-highlight-objects="{{commaSeparated highlight}}"
                title="{{place.filePath}}#{{place.lineNumber}}"
                >{{name}}</a>

                {{#if errors}}
                    <div class="layout-check-error-message">
                        {{#if imageComparison}}
                        <a class="image-comparison-link"
                            data-actual-image="{{imageComparison.actualImage}}"
                            data-expected-image="{{imageComparison.expectedImage}}"
                            data-map-image="{{imageComparison.comparisonMapImage}}"
                            href="#">Show image comparison</a>
                        {{/if}}
                        <div class="layout-check-error-message-text">
                            <ul>
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}

                {{#if subLayout}}
                {{renderSublayout subLayout}}
                {{/if}}
            </li>
        </script>
        <script id="screenshot-popup-tpl" type="text/x-handlebars-template">
            <div class="screenshot-canvas">
                {{#if screenshot}}
                <img src="{{screenshot}}"/>
                {{else}}
                <div class="empty-screenshot" style="width: {{width}}; height: {{height}};"></div>
                {{/if}}
                {{#each objects}}
                <div class="canvas-rect" style="left: {{area.left}}px; top: {{area.top}}px; width: {{area.width}}px; height: {{area.height}}px; {{#if drawBorder}}border-color: {{color}};{{else}}border:none;{{/if}}{{#if fillBackground}}background: {{color}};{{else}}background:none;{{/if}}">
                    <div class="canvas-rect-wrapper">
                        <div class="canvas-rect-hint" style="background: {{color}};">{{name}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </script>
        <script id="image-comparison-tpl" type="text/x-handlebars-template">
            <div class="image-comparison image-comparison-layout-{{layout}}">
                <div class="actual-image">
                    <h5>Actual</h5>
                    <img src="{{actual}}"/>
                </div>

                <div class="expected-image">
                    <h5>Expected</h5>
                    <img src="{{expected}}"/>
                </div>

                <div class="comparison-map">
                    <h5>Comparison map</h5>
                    <img src="{{map}}"/>
                </div>
            </div>
        </script>
        <script id="node-extras-tpl" type="text/x-handlebars-template">
            <div class="node-extras">
                <a class="node-extras" href="#">extras</a>
                <div class="node-extras-content">
                    <table class="node-extras-table">
                        <tbody>
                        {{#each this}}
                        <tr>
                            <td><label>{{@key}}</label></td>
                            {{#ifCond type 'text'}}
                            <td>{{value}}</td>
                            {{/ifCond}}
                            {{#ifCond type 'link'}}
                            <td><a href="{{value}}">{{value}}</a></td>
                            {{/ifCond}}
                            {{#ifCond type 'image'}}
                            <td><a href="{{value}}"><img src="{{value}}"/></a></td>
                            {{/ifCond}}
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </script>



        <div id="menu">
            <ul>
                <li><a href="report.html">Back to Test Overview</a></li>
                <li><a class="menu-op-expand-all" href="#">Expand All</a></li>
                <li><a class="menu-op-collapse-all" href="#">Collapse All</a></li>
                <li><a class="menu-op-expand-errors" href="#">Expand Errors</a></li>
            </ul>
        </div>
        <h2>test_login.gspec</h2>
        <div id="main"></div>
        <div id="screen-shadow"></div>
        <div id="popup" class="popup">
            <div class="popup-wrapper">
                <a class="popup-close-link" href="#">close</a>
                <div class="popup-content"></div>
            </div>
        </div>
        <div id="notification" class="notification">
            <div class="notification-wrapper">
                <a class="notification-close-link" href="#">close</a>
                <div class="notification-summary"></div>
                <div class="notification-message"></div>
            </div>
        </div>
    </body>
</html>
