html{
    background-color: rgb(242, 243, 176);
}
#login{
    background:rgb(240, 160, 12);
    margin:150px auto;
    width: 35%;
    height: 300px;
    border:2px solid black;
    border-radius: 10px;
}
#login table{
    width:50%;
    margin:auto;
}
form{
    margin:80px auto;
    font-size: 16px;
}
input{
    width:100%;
    height:20px;
    border:1px solid black;
    border-radius: 3px;
}
input[name="login"]{
    width:70%;
    height:30px;
    margin-left: 50px;
}

