html{
    background-color: rgb(242, 243, 176);
}
body{
    margin:0;
}
#header{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#iznad_tabele{
    margin:50px;
    font-weight: bold;
}
#iznad_tabele a{
    font-weight: normal;
    font-size:13px;
}
#div_tabela{
    background: rgb(242, 243, 176);
    width:100%;
    height: 481px;
    margin:0;
}
#commiti{
    background: white;
    margin:40px auto;
    text-align: center;
    width:50%;
    height:300px;
    border:2px solid blue;
    border-collapse: collapse;
}
#commiti td, th, tr{
    border:2px solid rgb(82, 69, 0);
}
#prva{
    width:30%;
}
#plav{
    background-color: rgb(248, 183, 62);
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}