body{
    margin:0;
}
#header{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#side{
    width:35%;
    margin:0;
    background: whitesmoke;
    height:550px;
}
#tabela_side{
    margin:50px auto;
    width:80%;
    height:200px;
}
#side p{
    text-align: center;
    font-size:20px;
}
#glavniSadrzaj{
    width:65%;
    height:550px;
    margin:0;
    background: rgb(250, 247, 103);
}
@media only screen and (min-width: 600px) {
    #glavniSadrzaj{
    float: right;
    }
    #side{
    float: left;
    }
}
#glavniSadrzaj table{
    width:70%;
    height:400px;
    margin: 25px auto;
}
.godina{
    border:2px solid black;
    background: whitesmoke;
    height:220px;
    width:90%;
    margin:10px auto;
}
.godina p{
    margin-top:15px;
    font-size:20px;
    text-align: center;
}
.godina ul{
    list-style-type: none;
    font-size:12pt;
    margin:0;
}
.godina li{
    margin:10px;
    font-weight: bold;
    margin-left:-10px;
}
select, input{
    width:90%;
    border:1px solid black;
    border-radius: 3px;
    height:20px;
}
label{
    font-size:15px;
}
input[name="ponisti"]{
    width:30%;
    height: 30px;
}
input[name="unesi"]{
    margin-left: 28%;
    width:30%;
    height: 30px;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}