html{
    background-color: rgb(242, 243, 176);
}
body{
    margin:0;
}
#header{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
}
body{
    margin:0;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#glavniSadrzaj{
    width:85%;
    height:850px;
    margin:0 auto;
    background: rgb(241, 176, 54);
    padding-top: 40px;
}
@media only screen and (max-width: 600px) {
    #glavniSadrzaj{
        width:100%;
    }
}
form{
    border:2px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
    background: whitesmoke;
}
form[name="fPostojeca"]{
    margin-left: auto;
    margin-right:auto;
    height: 300px;
}
form[name="fNova"]{
    margin:20px auto;
    height: 400px;
}
table{
    width:50%;
    margin:auto;
}
#tabelaPostojeca{
    margin:50px auto;
}
#tabelaNova{
    margin:10px auto;
}
form p{
    text-align: center;
    font-weight: bold;
    font-size:30px;
    margin:0;
}
form ul{
    list-style-type: none;
    background: whitesmoke;
    height:70px;
    padding: 10px;
    width:83%;
}
table input, table select{
    width:90%;
    height:25px;
}
form ul, input, select{
    border:1px solid black;
    border-radius: 3px;
}
input[name="submit"]{
    float: right;
    margin-right: 40px;
    width:20%;
    height:25px;
}
select[name="sZadatak"]{
    width:140%;
}
input[name="dZadatak"]{
    float: right;
    width:70%;
}
input[name="dodaj"]{
    float: right;
    width:60%;
}
input[name="spirala"]{
    width:20%;
    height:15px;
    float: left;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}