html{
    background-color: silver;
}
body{
    margin:0;
}
#header{
    background: rgb(240, 160, 12);
    border:2px solid black;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
@media only screen and (min-width: 600px) {
    .cetvrtina{
        float:left;
        width:25%;
    }
    .polovina{
        float:right;
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .cetvrtina{
        width:90%;
    }
    .polovina{
        width: 90%;
    }
}
.cetvrtina{
    height:550px; 
    background: rgb(242, 243, 176);
    text-align: center;
    margin:0;
}
#siv{
    background:silver;
}
.cetvrtina input{
    margin: 5px auto;
    width:50%;
    height:20px;
    border:1px solid black;
    border-radius: 3px;
}
input[name="search"]{
    background: silver;
    font-size:16px;
    height:25px;
}
#godina{
    margin:auto 60px;
    height:330px;
}
#godina, #imena{
    overflow-y:scroll;
    list-style-type:none;
    border-radius: 3px;
    background: white;
    border:1px solid black;
    padding: 10px;
}
#godina > li{
    margin:3px;
    margin-left:-30px;
}
p{
    text-align: center;
}
#imena{
    height:240px;
    margin:auto 70px;
    text-align: left;
    margin-top:20px;
}
#imena > li{
    float: left;
    margin:3px;
}
#imena p{
    text-align: left;
}
.polovina{
    height:550px;
    background: rgb(241, 176, 54);
    margin:0;
}
.folder{
    border:1px solid black;
    border-radius: 3px;
    background: rgb(242, 243, 176);
    width:50%;
    height:40%;
    margin:20px auto;
    padding: 10px;
}
.folder > p{
    width:50px;
    margin:0 auto;
}
.item{
    float: left;
    background: rgb(240, 160, 12);
    border:1px solid black;
    width:80px;
    height: 80px;
    margin:10px auto;
    margin-left:20px;
}
a:hover{
    background-color: silver;
}
a:visited{
    background: silver;
}
.cetvrtina ul li:hover{
    background: silver;
}
.cetvrtina ul li:active{
    background: silver;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}