html{
    background-color: rgb(242, 243, 176);
}
body{
    margin:0;
    
}
#header{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni > li{
    display:inline;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#glavniSadrzaj{
    width:85%;
    height:500px;
    margin:0 auto;
    background: rgb(241, 176, 54);
    padding-top: 40px;
}
@media only screen and (max-width: 600px) {
    #glavniSadrzaj{
        width:100%;
    }
}
form{
    width:50%;
    height:400px;
    margin-left: auto;
    margin-right:auto;
    background: whitesmoke;
    border:2px solid black;
    border-radius: 5px;
}
table{
    margin:auto;
    width: 70%;
}
form p{
    text-align: center;
    font-weight: bold;
    font-size:30px;
}
input[name="dodaj"]{
    float:right;
    width:20%;
    margin:40px;
    height:25px;
    border:1px solid black;
    border-radius: 3px;
}
input[name="naziv"], select{
    width:80%;
    height:25px;
    border:1px solid black;
    border-radius: 3px;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}