html{
    background-color: rgb(242, 243, 176);
}
body{
    margin:0;
}
#header{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right: 20px;
    }
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#glavniSadrzaj{
    width:85%;
    height:auto;
    margin:0 auto;
    background: rgb(241, 176, 54);
    /*padding:20px;*/
}
@media only screen and (max-width: 600px) {
    #glavniSadrzaj{
        width:100%;
    }
}
table{
    margin:20px auto;
    width:60%;
}
form{
    background: whitesmoke;
    padding: 20px;
    border:2px solid black;
    border-radius: 5px;
    width:50%;
}
form[name="fPojedinacni"]{
    height:380px;
    margin-left: auto;
    margin-right:auto;
}
form[name="fMasovni"]{
    height:230px;
    margin:20px auto;
}
form p{
    text-align: center;
    font-weight: bold;
    font-size:30px;
    margin:0;
}
input[name="submit"], input[name="submit2"]{
    float: right;
    width:20%;
    margin:10px;
    height:25px;
    font-size:15px;
}
table input, table select{
    width:100%;
    height:25px;
}
input, select{
    border:1px solid black;
    border-radius: 3px;
}
input[name="csv lista"]{
    border:none;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
}
#footer p{
    text-align: center;
    margin:8px;
}