html{
    background-color: aquamarine;
}
#header > #logo{
    float:left;
    width:80px;
    height:50px;
}
@media only screen and (min-width: 600px) {
    #header > h1{
        float:right;
        margin:0 auto;
        margin-top:-80px;
        margin-right:20px;
    }
}
#header{
    background: rgb(240, 160, 12);
    border:2px solid black;
}
body{
    margin:0;
}
#header > #meni{
    margin: 60px auto;
    list-style:none;
    margin-bottom: 5pt;
    margin-left:-20px;
    font-weight: bold;
}
a:hover {
    color: rgb(3, 3, 66);
}
#header > #meni > li{
    display:inline;
    margin:auto 5px;
}
#side{
    width:35%;
    height:541px;
    float:left;
    background: rgb(242, 243, 176);
    margin:0;
}
#side > h2{
    font-weight: 100;
    font-size:15pt;
    text-align:center;
}
#side > ul{
    width:50%;
    height:370px;
    overflow-y:scroll;
    list-style-type: none;
    border:2px solid black;
    margin:25px auto;
    background: whitesmoke;
}
#side > ul > li{
    text-align: left;
    font-size:13pt;
    margin:10px;
    margin-left:-30px;
}
#side > ul > li:hover{
    background: silver;
}
#glavniSadrzaj{
    background: rgb(241, 176, 54);
    float:right;
    width:65%;
    height:541px;
    margin:0;
}
#glavniSadrzaj > table{
    margin:50px auto;
    width:80%;
    height:400px;
    border:2px solid black;
    border-collapse: collapse;
    background: whitesmoke;
}
#glavniSadrzaj > table  td{
    border:1px solid black;
}
#footer{
    background-color: rgb(240, 160, 12);
    border:2px solid black;
    text-align: center;
    font-size: 20px;
    margin:0;
}
#footer p{
    text-align: center;
    margin:8px;
}